%div{:id => "box_3", :class => "round dark-border"}
  = form_for(@account, :url => {:controller => :registrations, :action => :update}, :html => { :method => :put, :multipart => true }) do |f|
    %p
      = f.label :email
      %br/
      = f.text_field :email
    %p
      = f.label :password
      %i (leave blank if you don't want to change it)
      %br/
      = f.password_field :password
    %p
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
    %p
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password
    %p= f.submit "Update", {:class => 'shadow'}
